:root {
    --projectBoxHeight: 0;
    --aboutBoxHeight: 0;
}
html, body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overscroll-behavior: none;
}
body::-webkit-scrollbar {
    display: none;
}
main {
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    background-color: #191919;
}
canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    filter: blur(0px);
    overflow: hidden;
}
h1 {
    width: 45%;
    height: auto;
    opacity: 0%;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    font-family: Poppins, sans-serif;
    font-size: 64px;
    color: white;
    animation-name: fadeInOut;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
.scroll {
    position: absolute;
    width: 50px;
    top: 87.5%;
    left: calc(50% - 25px);
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    animation-name: upDown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.snow {
    text-align: right;
    left: calc(5% - 5px);
    animation-delay: 0s;
}
.storrm {
    left: calc(50% + 5px);
    animation-delay: 0.75s;
}
.ryan {
    text-align: right;
    left: calc(5% - 5px);
    animation-delay: 3.0s;
}
.zucker {
    left: calc(50% + 5px);
    animation-delay: 3.75s;
}
.box {
    position: absolute;
    width: min-content;
    height: auto;
    z-index: 3;
    background-color: #262626;
    left: 10vw;
    padding: 10pt;
    padding-bottom: 35pt;
    border-radius: 20pt;
}
.title {
    font-family: Poppins, sans-serif;
    font-size: 48pt;
    color: white;

}
.title2 {
    text-decoration: none;
    background-color: #7e4ead;
    font-family: inherit;
    color: inherit;
    font-size: 32pt;
    width: max-content;
    border-radius: 10pt;
    padding: 5pt;
    transition: background-color .5s;
}
a {
    text-decoration: none;
    color: white;
}
.title2:hover {
    background-color: #451a70;
    transition: background-color .5s;
}
.paragraph {
    font-family: Poppins, sans-serif;
    color: white;
    font-size: 16pt;
}
.projectItem {
    font-family: Poppins, sans-serif;
    color: white;
    width: 60vw;
}
.projectImage {
    position: absolute;
    max-width: 300px;
    height: 50%;
    left: 80%;
    top: 37.5%;
}
.bottomBar {
    position: absolute;
    width: 60vw;
    z-index: 3;
    height: 80pt;
    left: 10vw;
}

@keyframes fadeInOut {
    0% {top: 20%; opacity: 0%;}
    25% {top: 20%; opacity: 0%;}
    50% {top: 35%; opacity: 100%;}
    75% {top: 35%; opacity: 100%;}
    100% {top: 50%; opacity: 0%;}
}
@keyframes upDown {
    0% {top: 87.5%}
    50% {top: 92.5%}
    100% {top: 87.5%}
}